{
  //----------------------------------------
  // Extensions + Plugins
  //----------------------------------------

  "extends": "airbnb",

  //----------------------------------------
  // Environment
  //----------------------------------------

  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  //----------------------------------------
  // Rules
  //----------------------------------------

  "rules": {

    //----------------------------------------
    // ESLint Rules
    // http://eslint.org/docs/rules/rule-name
    //----------------------------------------

    "array-bracket-spacing": ["error", "always", { "objectsInArrays": false, "arraysInArrays": false }],
    "comma-dangle": ["error", "never"],
    "quote-props": ["error", "consistent"],
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", "never"],

    //----------------------------------------
    // ESLint Import Plugin Rules
    // https://github.com/benmosher/eslint-plugin-import/tree/master/docs/rules
    //----------------------------------------

    "import/prefer-default-export": "off"
  }
}
